<MarketplaceDetails>
  <SmallAppTile>kollageburst_ApplicationIcon.png</SmallAppTile>
  <ScreenShots>scr1_480.png;scr2_480.png;;;;;;;</ScreenShots>
  <ScreenShotsWXGA>scr1_wxga.png;scr2_wxga.png;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>scr1_720p.png;scr2_720p.png;;;;;;;</ScreenShots720P>
</MarketplaceDetails>